td, th {
  padding: 10px;
}

/* Makes every other cell grey */
tr:nth-child(odd) {
  background-color: #F0F0F0;
}

/* Makes the hovered cell blue */
tr:hover {
  background-color: lightblue;
}

th {
    text-align: left;
    vertical-align:middle;
}

table a {
  color: black;
  text-decoration-line: none;
}

table {
  margin-top: 20px;
  border-collapse: collapse; /* Makes the internal lines collapse into one */
  word-wrap: break-word;,
  width: 100%;
}
