---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
feature_row:
  - image_path: /phase_diagram.png
    alt: "placeholder image 1"
    title: "PhD"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
  - image_path: vector_magnet_angle_view.png
    title: "MSc"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
  - image_path: CERN_probes.png
    alt: "placeholder image 2"
    title: "CERN Summer School"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: /portfolio/cern/

---

{% include base_path %}


<div class="feature__wrapper">
  {% for post in site.portfolio %}
    <div class="feature__item">
      <div class="archive__item">

          <div class="archive__item-teaser" style="height:250px;">
            <img src = "{{ post.image | prepend: '/images/'}}"
            alt="{{post.alt}}}">
          </div>
        <div class="archive__item-body">
            <h2 class="archive__item-title">{{post.title}}</h2>
            {% if post.subtitle %}
            <p>{{post.subtitle}}</p>
            {% endif %}
            <div class="archive__item-excerpt">
              <p itemprop="description">{{ post.excerpt | markdownify }}</p>
            </div>
        </div>
      </div>
    </div>
    {% endfor %}
    </div>

{% comment %}
{% include feature_row %}

{% for post in site.portfolio %}
  {% include archive-single-portfolio.html %}
{% endfor %}

{% endcomment %}
