---
layout: default
title: "CV"
permalink: /cv/
redirect_from:
  - /
---
<p>Welcome to my little home on the web! Take a look at my CV below
or have a look at my <a href="/blog">blog</a>. Click any item for a little more detail.
</p>
{% for topic in site.data.cv_topics %}
    {% assign work  = site.cv_entries | where:'type', topic.id %}
    {% if work.size > 0 %}
    <div class = "cv-title-container">
      <h2>{{topic.name}}</h2>
      <a onClick='toggle_summary_by_class(this, "{{topic.id}}");'>Expand all</a>
    </div>
    
    {% for entry in work %}
      <details class="{{topic.id}}">
      <summary class="cv"><time>{{entry.period}}</time>
                        <div class = "title-column">
                                <h3>{{entry.title}}</h3>
                                <span class="location">{{entry.location}}</span>
                        </div>
      </summary>
      <div class = "details-container">
          <div class = "details-img">
              <a href="{{entry.url}}"><img  src="{{entry.image}}" alt="{{entry.alt}}"></a>
          </div>
          <div class = "details-text">
              {{entry.excerpt}}
              {% if entry.read_more %}<a href = "{{entry.url}}">Read more.</a>{% endif %}
          </div>
      </div>
      </details>
    {% endfor %}
    {% endif %}
{% endfor %}


