
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- HTML Meta Tags -->
<title>Tom Hodson - {{ page.title }}</title>
<meta property="og:title" content="Tom Hodson - {{ page.title }}">
<meta name="twitter:title" content="Tom Hodson - {{ page.title }}">
<meta name="theme-color" content="#fcfcfc">

<meta name="description" content="{{page.excerpt | strip_html | strip}}">
<meta property="og:description" content="{{page.excerpt | strip_html | strip}}">
<meta name="twitter:description" content="{{page.excerpt | strip_html | strip}}">

<meta property="og:url" content="{{page.url | absolute_url}}">
<meta property="twitter:domain" content="thomashodson.com">
<meta property="twitter:url" content="{{page.url | absolute_url}}">
<meta name="twitter:site" content="@T_Hodson">

<meta property="og:type" content="website">

{% if page.social_image %}
{% assign image = page.social_image %}
{% elsif page.image %}
{% assign image = page.image %}
{% elsif page.img %}
{% assign image = page.img.src %}
{% elsif page.thumbnail %}
{% assign image = page.thumbnail %}
{% else image = false %}
{% endif %}

{% if page.img %}
{% assign alt = page.img.alt %}
{% elsif page.alt %}
{% assign alt = page.alt %}
{% else alt = False %}
{% endif %}

{% if image %}
<!--  This tag enables pages to be featured in Google Discover as large previews
See: https://developers.google.com/search/docs/advanced/mobile/google-discover?hl=en&visit_id=637424198370039526-3805703503&rd=1 -->
<meta name="robots" content="max-image-preview:large">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{image | absolute_url}}">
<meta property="og:image" content="{{image | absolute_url}}">
{% if alt %} <!-- Note og:image:alt must immediately follow og:image tag -->
<meta property="og:image:alt" content="{{alt | strip}}">
<meta property="twitter:image:alt" content="{{alt | strip}}">
{% endif %}
{% endif %}

<!-- indieauth.com authentication -->
<link rel="authorization_endpoint" href="https://indieauth.com/auth">

<link rel="stylesheet" href="/assets/css/styles.css">
<script src="/assets/js/index.js"></script>

{% if page.mathjax %}
<script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']]
    },
    svg: {
      fontCache: 'global'
    }
  };
  </script>
<script src="/assets/mathjax/tex-mml-svg.js" id="MathJax-script" async></script>
{% endif %} 

<!-- RSS feed -->
{% feed_meta %}

{% if page.head %}
{{ page.head }}
{% endif %} 