<!-- See https://microformats.org/wiki/h-card for meaning of h-card, u-photo etc classes -->
<header class = "h-card">
<div class = "profile-pic-name">
<img src="/assets/images/avatar.jpeg" class = "u-photo avatar" alt = "A picture of me.">
<a class="p-name u-url u-uid" href="https://thomashodson.com"><h1>Tom Hodson</h1></a>
</div>
<p class="p-note">Physicist, Programmer, Maker and Baker
<p class="professional-links">
  <a href="https://github.com/TomHodson" rel="me authn" class="u-url">GitHub {% include github.svg %}</a>
  <a href="https://tech.lgbt/@Tomhodson" rel="me" class="u-url">Mastodon {% include mastodon.svg %}</a>
  <a href="/feed.xml">RSS {% include RSS.svg %}</a>
</p>
{% include sidebar.html%}

{{ include.extra }}
<hr>
</header>