<header>
<div class = "profile-pic-name">
<img src="/assets/images/avatar.jpeg" class = "avatar" alt = "A picture of me.">
<h1> Tom Hodson </h1>
</div>
<p>Physicist, Programmer, Maker and Baker
<p class="professional-links">
  <a href="https://github.com/TomHodson"><img class="icon" src="/assets/icons/github.svg">GitHub</a>
  <a href="https://twitter.com/T_Hodson"><img class="icon" src="/assets/icons/twitter.svg">Twitter</a>
  <a href="/feed.xml"><img class="icon" src="/assets/icons/rss.svg">RSS</a>
</p>
{% include sidebar.html %}
<hr>
</header>