$font_stack: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
$title_font_stack: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif", HelveticaNeue-CondensedBlack;

$horizontal_breakpoint: 900px;
$vertical_breakpoint: 500px;

// For the images on the blogroll, projects and highlights pages
$thumbnail_image_size: clamp(5rem, 25vw, 8rem);
$left_pad: calc(clamp(5rem, 25vw, 8rem) + 1rem);