h2.blogroll-title {
    a {
        text-decoration: none;
    }

}

//clamp the size of the images on the blog roll
figure.blogroll > img, figure.blogroll > svg {
    max-width: 100% !important;
    margin-bottom: 0;
    border-radius: 1em;
}