// Padding to keep the keep the content to the right of the header
footer {
  max-width: 560px;
  margin-left: 240px;
  padding-left: 30px;
  padding-bottom: 10vh;

  a {
    text-decoration: none;
  }

  section.source-creds-lm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5em;
  }

  section.webring {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5em;
  }
}



@media only screen and (max-width: $horizontal_breakpoint),
  only screen and (max-height: $vertical_breakpoint) {
  footer {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    justify-content: center;
  }
}
