// Also affects blog and posts pages
h1.highlights {
  font-size: 1.75rem;
  margin-bottom: -0.2em;
  a {
    text-decoration: none;
  }
}

section.highlights {
  margin-bottom: 2rem;

  h1 {
    margin-bottom: 1rem;
  }

  a.highlights-more {
    margin-left: $left_pad;
  }

  hr.blogroll {
    border-width: 0 !important;
  }
}

@media only screen and (max-width: $horizontal_breakpoint),
  only screen and (max-height: $vertical_breakpoint) {
  a.highlights-more {
    font-size: 1.25rem;
  }
}
