@import "vars";

@import "nav";
@import "header";
@import "article";
@import "cv";
@import "figures";

* {
    box-sizing: border-box;
    font-family: $font_stack;
    text-rendering: geometricPrecision;
}

html {
    width: 100vw;
}

body {
    background: #fcfcfc;
    color: #222;

    // constrain width and center
    max-width: 900px;
    margin: auto;
}

// Padding to keep the keep the content to the right of the header
main {
    margin-left: 240px;
    padding-left: 30px;
    padding-right: 30px;
    
    padding-top: 10vh;
    padding-bottom: 10vh;

    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        font-size: 2em;
    }
}

a {
    text-decoration: underline;
    color: #222;
}

a:hover {
    text-decoration: underline;
}

img {
    width: 100%;
}

.figure {
    max-width: 400px;
    display: block;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

// For the thesis table of contents, should probably put this in a container
li {
    margin-bottom: 0.2em;
}

main > ul > li {
    margin-top: 1em;
}

main > ul > ul > li {
    margin-top: 0.5em;
}

@media 
    only screen and (max-width: $horizontal_breakpoint),
    only screen and (max-height: $vertical_breakpoint)
    {  
        main {
        padding-top: 10px; 
        padding-left: 20px;
        padding-right: 20px;
        margin: 0px;
        }
    
        article {
        margin-left: 0px; } 
}