article.project {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;

  h2 {
    margin-top: 0;
  }

  a.photo {
    width: $thumbnail_image_size;
    height: $thumbnail_image_size;
    margin-right: 1em;
  }

  img {
    max-height: $thumbnail_image_size;
    width: unset;
    aspect-ratio: 1 / 1;
  }
  figure {
    padding: 0;
    justify-content: center;
  }

  section.text {
    width: 100%;
  }
}
