table {
  margin: 0 auto;
  //   border: var(--theme-subtle-text-color) 1px solid;
  //   border-radius: 0.5em;
  padding: 0.5em;

  td,
  th {
    text-align: left;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}
