<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- HTML Meta Tags -->
    <title>Tom Hodson - {{ page.title }}</title>
    <meta property="og:title" content="Tom Hodson - {{ page.title }}">
    <meta name="twitter:title" content="Tom Hodson - {{ page.title }}">
    
    <meta name="description" content="{{page.excerpt | strip_html | strip}}">
    <meta property="og:description" content="{{page.excerpt | strip_html | strip}}">
    <meta name="twitter:description" content="{{page.excerpt | strip_html | strip}}">

    <meta property="og:url" content="{{site.url}}{{page.url}}">
    <meta property="twitter:domain" content="thomashodson.com">
    <meta property="twitter:url" content="{{site.url}}{{page.url}}">

    <meta property="og:type" content="website">

    {% if page.image %}
    <meta name="twitter:card" content="{{site.url}}{{page.image}}">
    <meta name="twitter:image" content="{{site.url}}{{page.image}}">
    <meta property="og:image" content="{{site.url}}{{page.image}}">
    {% if page.alt %} <!-- Note og:image:alt must immediately follow og:image tag -->
    <meta property="og:image:alt" content="{{page.alt | strip}}">
    {% endif %}
    {% endif %}
    




    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="/assets/js/index.js"></script>

    <script>
      MathJax = {
        tex: {
          inlineMath: [['$', '$'], ['\\(', '\\)']]
        },
        svg: {
          fontCache: 'global'
        }
      };
      </script>
    <script src="/assets/mathjax/tex-mml-svg.js" id="MathJax-script" async></script>
    
    <!-- RSS feed -->
    {% feed_meta %}
  </head>
  <body>
    {% include header.html %}
    <main>
        {{ content }}
    </main>
  </body>
</html>