<!doctype html>
<html class = "no-js" lang="en">
  <head>
    {% include default_head_tags.html%}

    {% if page.commentid %}
    <script src="/assets/js/jquery-3.7.0.min.js"></script>
    <script src="/assets/js/mastodon.js"></script>
    <script defer>getComments("{{page.commentid}}");</script>
    {% endif %}

  </head>
  <body>
    {% include header.html %}
    <main>
        <article class="h-entry">
            <section class="header" style="view-transition-name: {{ page.slug }}">
                <section class="title-icon-container">
                    <h1 class = "p-name highlights">{{ page.title }}</h1>
                    <div class = "icon-container"></div>
                </section>
                <hr class="byline">

                <section class="byline-time">
                    <section class="byline p-summary">
                        {{page.excerpt}}
                    </section>
                    <time class="dt-label dt-published" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time>
                </section>
            </section>

            <!-- Hidden content to control how this gets posted by Bridgy to Mastodon -->
            {% capture default_mastodon_text %}
            New blog post: {{ page.title }} - {{page.excerpt}}
            {% endcapture %}
            <div class="e-bridgy-mastodon-content hidden">
                {{ page.social_text | default: default_mastodon_text }}
                <img src = "{{ page.social_image }}"
                    class = "u-featured"
                    alt="{{page.alt | xml_escape }}">
            </div>
            <div class="e-content">
            {{ content }}
            </div>
        </article>
        {% if page.commentid %}  
        <div id="comments" class="comments">
            <h2>Comments</h2>
        </div>
        {% endif %}
    </main>
    {% include footer.html %}
  </body>
</html>




